@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  counter-reset: slide;
  font: 18pt/2 Tahoma, sans-serif; }

a {
  text-decoration: none; }

.caption {
  display: none;
  margin: 0 0 50px;
  color: #7384c3;
  text-shadow: 0 1px 1px #1F3F60; }
  .caption h1 {
    font: bold 38pt/1 Tahoma, sans-serif;
    text-shadow: #abf 2px 2px 2px; }
  .caption a {
    color: #6175bc;
    text-decoration: none; }
    .caption a:hover {
      color: #8594cb; }

a.copyright {
  position: absolute;
  font-size: 15px;
  color: #dee2f1;
  right: 0;
  top: 200px;
  background: #4f65b4;
  padding: 0 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotate(90deg) translateY(-79px);
  -moz-transform: rotate(90deg) translateY(-79px);
  -ms-transform: rotate(90deg) translateY(-79px);
  -o-transform: rotate(90deg) translateY(-79px);
  transform: rotate(90deg) translateY(-79px); }
  a.copyright:hover {
    background: #6175bc;
    color: #f0f2f9; }

.clear {
  clear: both; }

.slide {
  position: relative;
  width: 1024px;
  height: 768px;
  background: #FFF;
  color: #000;
  -webkit-print-color-adjust: exact;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none; }
  .slide:after {
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding: 5px 0 0;
    width: 50px;
    height: 45px;
    background: #4f65b4;
    border-radius: 50px;
    color: #FFF;
    counter-increment: slide;
    content: counter(slide);
    text-align: center;
    font-size: 20px;
    font-weight: bold; }
  .slide > div {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 25px 50px 0;
    width: 924px;
    height: 743px; }

.slide h2 {
  margin: 0 0 37px;
  color: #666;
  font: bold 38pt/1 Tahoma, sans-serif; }
.slide p {
  margin: 0 0 50px; }
.slide.big-text p {
  margin: 0; }
.slide p.note {
  color: #999; }
.slide a {
  border-bottom: 0.1em solid;
  color: #4f65b4; }
  .slide a:hover {
    border-bottom: none;
    color: #8594cb; }
.slide b {
  font-weight: bold; }
.slide strong {
  color: #4f65b4; }
.slide i, .slide em {
  font-style: italic; }
.slide sup {
  vertical-align: super;
  font-size: smaller; }
.slide sub {
  vertical-align: sub;
  font-size: smaller; }
.slide kbd, .slide code, .slide samp {
  padding: 3px 8px;
  border-radius: 8px;
  background: #fafaa2;
  color: #000;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  line-height: 1;
  font-family: Consolas, monospace; }
.slide iframe {
  width: 824px;
  height: 568px;
  background: #FFF;
  border: #2a2b2d 1px solid;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8); }
  .slide iframe + span {
    position: absolute;
    bottom: 30px;
    border: 0; }
    .slide iframe + span > a {
      border-style: dotted; }
.slide blockquote {
  margin: 15px 0 0 85px;
  width: 839px;
  font-style: italic; }
  .slide blockquote:before {
    position: absolute;
    margin: -15px 0 0 -80px;
    background: #FFF;
    color: #CCC;
    font: 200px/1 Tahoma, sans-serif;
    content: '\201C'; }
  .slide blockquote + figcaption {
    margin: -50px 0 50px;
    font-style: italic;
    font-weight: bold; }
.slide ol, .slide ul {
  margin: 0 0 50px;
  counter-reset: list; }
  .slide ol li:before, .slide ul li:before {
    display: inline-block;
    width: 1.5em;
    margin-right: .5em;
    color: #4f65b4;
    text-align: right; }
  .slide ol ol,
  .slide ol ul, .slide ul ol,
  .slide ul ul {
    margin: 0 0 0 2em; }
.slide ul > li:before {
  content: '•'; }
.slide ol > li:before {
  counter-increment: list;
  content: counter(list) ".\00A0"; }
.slide dl {
  line-height: 1.5; }
  .slide dl dt {
    font-weight: bold; }
  .slide dl dd {
    margin-left: 20px; }
.slide .compare > div {
  width: 45%;
  float: left;
  line-height: normal; }
  .slide .compare > div + div {
    margin-left: 40px; }
.slide .compare li {
  margin-bottom: 20px; }
.slide pre {
  margin: 0 0 49px;
  line-height: normal;
  counter-reset: code;
  white-space: pre;
  font-family: Consolas, monospace; }
  .slide pre code {
    display: block;
    background: transparent;
    font-size: 17pt; }
    .slide pre code:before {
      position: absolute;
      margin: 0 0 0 -100px;
      width: 100px;
      color: #BBB;
      text-align: right;
      counter-increment: code;
      content: counter(code,decimal-leading-zero) "."; }
    .slide pre code:only-child:before {
      content: ''; }
  .slide pre mark {
    padding: 3px 8px;
    border-radius: 8px;
    background: #F7FCA0;
    color: #000;
    font-style: normal; }
    .slide pre mark.important {
      background: #C00;
      color: #FFF;
      font-weight: normal; }
    .slide pre mark.comment {
      padding: 0;
      background: none;
      color: #999; }
.slide table {
  margin: 0 0 50px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.5; }
  .slide table td, .slide table th {
    border: 1px solid #2a2b2d;
    padding: 0 10px;
    vertical-align: middle; }
  .slide table th {
    text-align: left;
    font-weight: bold;
    background: #bac3e2; }
  .slide table.striped tr:nth-child(even) {
    background: #EEE; }
.slide .place {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .slide .place.t.l, .slide .place.t.r, .slide .place.b.r, .slide .place.b.l {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  .slide .place.t, .slide .place.b {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .slide .place.l, .slide .place.r {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .slide .place.t, .slide .place.t.l, .slide .place.t.r {
    top: 0; }
  .slide .place.r {
    right: 0;
    left: auto; }
  .slide .place.b, .slide .place.b.r, .slide .place.b.l {
    top: auto;
    bottom: 0; }
  .slide .place.l {
    left: 0; }
.slide p + .place {
  -webkit-transform: translate(-50%, -25%);
  -moz-transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  -o-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%); }

@media screen {
  .list {
    position: absolute;
    clip: rect(0, auto, auto, 0);
    padding: 80px 0 40px 100px;
    background: #434b62 url(../images/bg.png); } }
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    .list {
      background-image: url(../images/bg@2x.png);
      background-size: 256px; } }
@media screen {
    .list .caption {
      display: block; }
    .list .slide {
      float: left;
      margin: 0 -412px -284px 0;
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
      -o-transform: scale(0.5);
      transform: scale(0.5); } }
    @media screen and (max-width: 1324px) {
      .list .slide {
        margin: 0 -688px -496px 0;
        -webkit-transform: scale(0.25);
        -moz-transform: scale(0.25);
        -ms-transform: scale(0.25);
        -o-transform: scale(0.25);
        transform: scale(0.25); } }
@media screen {
      .list .slide:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 512px;
        height: 384px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.005), 0 20px 50px rgba(42, 43, 45, 0.6);
        border-radius: 2px;
        content: '';
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2); } }
      @media screen and (max-width: 1324px) {
        .list .slide:before {
          width: 256px;
          height: 192px;
          -webkit-transform: scale(4);
          -moz-transform: scale(4);
          -ms-transform: scale(4);
          -o-transform: scale(4);
          transform: scale(4); } }
@media screen {
      .list .slide:after {
        top: auto;
        right: auto;
        bottom: -80px;
        left: 120px;
        padding: 0;
        width: auto;
        height: auto;
        background: none;
        color: #7384c3;
        text-shadow: 0 1px 1px #1F3F60;
        font-weight: bold;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2); } }
      @media screen and (max-width: 1324px) {
        .list .slide:after {
          bottom: -104px;
          -webkit-transform: scale(4);
          -moz-transform: scale(4);
          -ms-transform: scale(4);
          -o-transform: scale(4);
          transform: scale(4); } }
@media screen {
      .list .slide:hover:before {
        box-shadow: 0 0 0 10px rgba(42, 43, 45, 0.3), 0 20px 50px rgba(42, 43, 45, 0.6); }
      .list .slide:target:before {
        box-shadow: 0 0 0 1px #3e5092, 0 0 0 10px #4f65b4, 0 20px 50px rgba(42, 43, 45, 0.6); } }
      @media screen and (max-width: 1324px) {
        .list .slide:target:before {
          box-shadow: 0 0 0 1px #3e5092, 0 0 0 10px #4f65b4, 0 20px 50px rgba(42, 43, 45, 0.6); } }
@media screen {
      .list .slide:target:after {
        text-shadow: 0 1px 1px rgba(42, 43, 45, 0.6);
        color: #4f65b4; }
      .list .slide > div:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        content: ''; }

  .full {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin: -384px 0 0 -512px;
    width: 1024px;
    height: 768px;
    background: #000; }
    .full a.copyright {
      display: none; }
    .full .slide {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 150%; }
      .full .slide .next {
        visibility: hidden; }
        .full .slide .next.active {
          visibility: visible; }
      .full .slide:target {
        margin: 0; }
    .full .progress {
      position: absolute;
      right: 0;
      bottom: 0;
      left: -10px;
      z-index: 1; }
      .full .progress div {
        padding-left: 10px;
        width: 0;
        height: 10px;
        background: url(../images/progress.svg) 100% 0 no-repeat;
        background-clip: content-box;
        -webkit-transition: width 0.2s linear;
        -moz-transition: width 0.2s linear;
        -o-transition: width 0.2s linear;
        transition: width 0.2s linear; } }
@page {
  margin: 0;
  size: 1024px 768px; }
@media print {
  a.copyright {
    display: none; } }
